Task 3
Python

In [1]:
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_excel('rawdata.xlsx')

In [3]:
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    datetime64[ns]
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 11.1+ KB

In [5]:
df['time'] = df['time'].astype(str)
df['date'] = df['date'].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.1+ KB

In [7]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
 8   datetime    175 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 12.4+ KB

In [9]:
df = df.sort_values(by=['datetime'])

In [10]:
df['duration'] = df['datetime'].diff().dt.total_seconds().fillna(0)

In [11]:
inside_duration = df[df['position'] == 'inside'].groupby('date')['duration'].sum().reset_index()
outside_duration = df[df['position'] == 'outside'].groupby('date')['duration'].sum().reset_index()

In [12]:
duration_df = pd.merge(inside_duration, outside_duration, on='date', how='outer', suffixes=('_inside', '_outside')).fillna(0)

In [13]:
inside_duration.head()

         date  duration
0  2024-01-16   41470.0
1  2024-01-17   91320.0
2  2024-01-18   99977.0

In [14]:
outside_duration.head()

         date  duration
0  2024-01-18    1940.0

In [15]:
duration_df

         date  duration_inside  duration_outside
0  2024-01-16          41470.0               0.0
1  2024-01-17          91320.0               0.0
2  2024-01-18          99977.0            1940.0

In [16]:
activity_count = df.groupby(['date', 'activity']).size().unstack(fill_value=0).reset_index()

In [17]:
activity_count

activity        date  picked  placed
0         2024-01-16      40      40
1         2024-01-17      10       9
2         2024-01-18      37      39